@import "../../styles/utils.scss";
@import "../utils.scss";

/* Section Content */
#latest .section-content {
  display: flex;
  height: 70vh;
}

/* Project Content & Image */
.latest-project-div {
  display: grid;
  overflow: hidden;
  width: 100%;
  box-shadow: 10px 0px 20px 7px rgba(var(--tertiary-fade-color), 1);
  max-width: min-content; // Minimize inactive divs
}

.latest-project-div > * {
  grid-row: 1;
  grid-column: 1;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

/* Project Content */
.latest-project-content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(var(--secondary-fade-color), 0.1), rgba(var(--primary-fade-color), 0.9));
}

/* Project Title, Tags, & Description */
.latest-project-content > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 60px;
  justify-content: end;
}

/* Project Date */
.latest-project-content .project-date {
  flex: 1;
}

/* Date - Inactive Div */
.latest-project-div-inactive .project-date {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  align-self: center;
  margin: 0;
}

/* Date - Active Div */
.latest-project-div-active .project-date {
  color: var(--secondary-text-color);
  writing-mode: unset;
  text-orientation: unset;
  text-align: right;
  align-self: unset;
  margin-top: 10px;
  margin-right: 20px;
}

/* Active Div - Flex */
.latest-project-div-active {
  flex: 1;
  max-width: none;
}

/* Show content of active div, hide content of inactive div */
.latest-project-div-inactive .latest-project-content > div {
  display: none;
}

.latest-project-div-active .latest-project-content > div {
  display: flex;
}

/* Project Header */
.project-header {
  display:flex;
  align-items: center;
}

/* Project Links */
.project-links{
  display:flex;
}


.project-links a{
  display:block;
  height:2em;
  margin-left:10px;
}

.project-links a:hover{
  cursor:pointer;
}

.project-links img{
  height:100%;
  width:100%;
}

/* Project HR */
.latest-hr {
  height: pxToRem(3);
  width: 100%;
  background: -webkit-linear-gradient(
    0deg,
    var(--tertiary-text-color),
    var(--primary-text-color) 100%
  );
  margin: 10px 0px 10px 0px;
}
