@import "../utils.scss";

.navbar {
  display: flex;
  padding: 2rem 0 2rem 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navlogo {
  width: 6rem;
}

.nav-item {
  display: inline;
  text-align: center;
}

.nav-item > a {
  padding: 0.5rem 0 0.5rem 0;
  font-family: "Outfit";
  font-size: pxToRem(18);
  color: var(--primary-text-color);
}
