@import "../../styles/utils.scss";

.section {
  /*height: 100vh;*/
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-desc {
  display: flex;
  flex-direction: column;
}

.section-desc > h2 {
  font-family: "Outfit";
  font-size: pxToRem(45);
  text-transform: uppercase;
  margin: 0;
  width: min-content;
  background: -webkit-linear-gradient(0deg, var(--tertiary-text-color), var(--highlight-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-desc > p {
  margin: 0 0 1.5rem 0;
  font-size: pxToRem(18);
  width:60%;
}

.section-content {
  width: 100%;
}
