:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #a10b12;
  --tertiary-text-color: red;
  --primary-background-color: #12171d;
  --secondary-background-color: #14202e;
  --primary-fade-color: 20, 32, 46;
  --secondary-fade-color: 0,0,0;
  --tertiary-fade-color: 13, 17, 23;
  --highlight-color: #784beb;
  --header-font-family: "Outfit";
  --text-font-family: "Roboto";

  font-family: var(--text-font-family);
  font-size: 1rem;
  line-height: 1.5;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
}

a {
  text-decoration: none;
}

#grid {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; 
}

::-webkit-scrollbar-track {
  visibility: hidden;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(140,140,140,0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.container:hover::-webkit-scrollbar {
  opacity: 1;
}