:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #a10b12;
  --tertiary-text-color: red;
  --primary-background-color: #12171d;
  --secondary-background-color: #14202e;
  --highlight-color: #784beb;
  --header-font-family: "Outfit";
  --text-font-family: "Roboto";

  font-family: var(--text-font-family);
  font-size: 1rem;
  line-height: 1.5;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
}

a {
  text-decoration: none;
}

#grid {
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}