#mainbottom hr{
    max-width:560px;
}

#main{
    background-image:linear-gradient(45deg,rgba(255, 9, 9, 0.4),rgba(255, 51, 160, 0.4)), url("mp2bg.jpg");
}

#lefttri1, #righttri1{
    background-color:rgb(255, 153, 153);
}

#content{
    background-image: linear-gradient(0deg, white, rgb(255, 153, 153));
}

.mprows a{
    background-image: linear-gradient(225deg, rgba(255, 156, 89, 0.6), rgba(255, 156, 89, 0.6)), url("mp2bg.jpg");
}

.mprows a:hover{
    background-image: linear-gradient(225deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("mp2bg.jpg");
}